<mat-card >
    <div >
<div  style="text-align: right;margin-top: -17px;margin-right: -14px;">
  <a style="cursor: pointer;font-size: 20px;" (click)="closeSelectCity()">×</a>
</div>

       <div class="ng-autocomplete popupwidthSelect" style="height: 164px;overflow:hidden;">
        
        <h2 class="mainheading" style="text-align: center;">Enter your City to customize your experience</h2>
        <div >
        <ng-autocomplete [data]="citydata" [searchKeyword]="keyword" (selected)='selectEvent($event)'
            (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
            [notFoundTemplate]="notFoundTemplate" style="overflow:hidden;">
             </ng-autocomplete>
    
        <ng-template #itemTemplate let-item >
            <a [innerHTML]="item.city_name"></a>
        </ng-template>
    
        <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
        </ng-template>
        </div>
    </div>
</div>
</mat-card>




    
    
      