.fontsize-text{

    margin-bottom: 8px !important;
}
.rounded-circle{

    width: 150px;
}


.checked {
  color: orange;
}

.section {
  
  overflow-x: hidden !important; /* Hide horizontal scrollbar */
}

.testimonial
{
  background-color:#b5b0b087;
  padding-top: 6px !important;
  padding-bottom: 6px;
  width: 420px;
}


  
  