.fontsize-text{

    margin-bottom: 8px !important;
}
.rounded-circle{

    width: 150px;
}


.checked {
  color: orange;
}

.section {
  
  overflow-x: hidden !important; /* Hide horizontal scrollbar */
}

.testimonial
{
  background-color:#ffffff;
  padding-top: 6px !important;
  padding-bottom: 6px;
  width: 420px;
  border: 1px solid #aeaeae94;
}

@media screen and (min-width: 768px){
.testimonialcontent{
  margin-left:50px;
  margin-right:50px;
}
}

  
  