.login-main{
    margin-top: 10%;
    }
    mat-card{
    min-width: 40%;
    }
    .bordercard
    {
        border:none;
        box-shadow: none;
    }
    .textboxmobileno
    {
        border-radius: 5px;
    }


    @media screen and (max-width: 768px) {
        .countrycodecls{
            width: 20%;
        }
        // .loginpopup {
        //     width: 100%;
        // }

        // .dialog-responsive {
        //     width: 100%;
        // }

        // .cdk-overlay-pane {
        //     max-width: 0vw !important; 
        // }
    }

    @media screen and (min-width: 768px) {
        .loginpopup {
            width: 336px;
        }
        .countrycodecls{
            width: 32%;
        }
        .bg {
            /* The image used */
            background: url("https://th.bing.com/th/id/OIP.wU_BdqtV8p16cYQ4rPchNgHaEK?pid=ImgDet&rs=1")no-repeat center center;
          
            /* Half height */
            height: 50%;
          
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-top: -12px;
            margin-right: -12px;
            margin-left: -12px;
          }
    }