table.dataTable tbody th, table.dataTable tbody td {
  padding: 2px 10px;
}

.custom-btn {
    cursor: pointer;
    margin-right: 25px;
    // height:250px;
    // width:250px;

  } 
  // .fa-file-excel-o
  // {
  //   height:250px;
  //   width:250px;
  // // }
  // .fa
  // {
  // font-size: larger !important;
  // width:1em !important;
  // }
  // .col-sm-6
  // {
  //   box-shadow: 1rem;
  // }

  