table.dataTable tbody th, table.dataTable tbody td {
  padding: 4px !important;
}

.fontwtcls{
    font-weight: normal;
}



.cdk-overlay-pane{
    width: 700px !important;
}
.accordion{
  box-shadow: rgba(0, 0, 0, 0.14) 0px 5px 15px;
    // box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 1px 1px rgba(0, 0, 0, 0.12),0px 1px 1px 1px rgba(0, 0, 0, 0.14);
    margin: 12px;
  //  margin-left:80px;

    padding:10px;

}
.accordion1{
  box-shadow: rgba(0, 0, 0, 0.14) 0px 5px 15px;
    // box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 1px 1px rgba(0, 0, 0, 0.12),0px 1px 1px 1px rgba(0, 0, 0, 0.2);
    margin: 12px;
  //  margin-left:80px;

    padding:10px;

}
.accordion2{
  box-shadow: rgba(0, 0, 0, 0.14) 0px 5px 15px;
    //box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 1px 1px rgba(0, 0, 0, 0.12);
    margin: 12px;
  //  margin-left:80px;

    padding:10px;

}




.title  {
  padding-left: 6px;
  background-color:#202c45;
  color: white;
}

.title1  {
    padding-left: 6px;
    background-color:#202c45;
    color: white;
  }

.title2  {
    padding-left: 6px;
    background-color:#202c45;
    color: white;
  }


.content {
  padding: 12px;
}

.content-container  {
    overflow: hidden;
    max-height: 0;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:10px;
}
.content-container1  {
    overflow: hidden;
    max-height: 0;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:10px;
}
.content-container2 {
    overflow: hidden;
    max-height: 0;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:10px;
}

.content-container.opened  {
  max-height: none;
}

.content-container1.opened1
{
    max-height: none;
}
.content-container2.opened2
{
    max-height: none;
}

.fontwghtcls {
  font-weight: bold !important;
}

@media screen and (min-width: 768px) {

  // .bookingid{

  //   cursor: pointer;
  //   color: #26a0fc;
  //   text-decoration: underline;
  //   margin-left: 51px !important;
  // }
  .table-responsive {
    
  overflow-x: hidden !important;

}
.carwashstatustbl{
  overflow: hidden;
}
}

@media screen and (min-width: 768px) {

  .bookingid{
    
    cursor: pointer;
    color: black;
    text-decoration: underline;
    margin-left: 43px !important;
    font-weight: 500 !important;
  } 

  // .bookingid{

  //   cursor: pointer;
  //   color: #26a0fc;
  //   text-decoration: underline;
  //   margin-left: 20px !important;
  // }

  .comboheading{
    padding-top: 15px !important;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {

  // .bookingid{

  //   cursor: pointer;
  //   color: #26a0fc;
  //   text-decoration: underline;
  //   margin-left: 20px !important;
  // }

  .graphmob{

    text-align: center;
    padding-left: 13px;
  }
  .bookingid{

    cursor: pointer;
    color: black;
    text-decoration: underline;
    margin-left: 14px !important;
    font-weight: 500 !important;
  } 
}