table.dataTable tbody th, table.dataTable tbody td {
  padding: 4px !important;
}

.fontwtcls{
    font-weight: normal;
}



.cdk-overlay-pane{
    width: 700px !important;
}
.accordion{
  box-shadow: rgba(0, 0, 0, 0.14) 0px 5px 15px;
    // box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 1px 1px rgba(0, 0, 0, 0.12),0px 1px 1px 1px rgba(0, 0, 0, 0.14);
    margin: 12px;
  //  margin-left:80px;

    padding:10px;

}
.accordion1{
  box-shadow: rgba(0, 0, 0, 0.14) 0px 5px 15px;
    // box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 1px 1px rgba(0, 0, 0, 0.12),0px 1px 1px 1px rgba(0, 0, 0, 0.2);
    margin: 12px;
  //  margin-left:80px;

    padding:10px;

}
.accordion2{
  box-shadow: rgba(0, 0, 0, 0.14) 0px 5px 15px;
    //box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 1px 1px rgba(0, 0, 0, 0.12);
    margin: 12px;
  //  margin-left:80px;

    padding:10px;

}




.title  {
  padding-left: 6px;
  background-color:#202c45;
  color: white;
}

.title1  {
    padding-left: 6px;
    background-color:#202c45;
    color: white;
  }

.title2  {
    padding-left: 6px;
    background-color:#202c45;
    color: white;
  }


.content {
  padding: 12px;
}

.content-container  {
    overflow: hidden;
    max-height: 0;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:10px;
}
.content-container1  {
    overflow: hidden;
    max-height: 0;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:10px;
}
.content-container2 {
    overflow: hidden;
    max-height: 0;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:10px;
}

.content-container.opened  {
  max-height: none;
}

.content-container1.opened1
{
    max-height: none;
}
.content-container2.opened2
{
    max-height: none;
}

.fontwghtcls {
  font-weight: bold !important;
}



@media screen and (min-width: 768px) {

  // .bookingid{

  //   cursor: pointer;
  //   color: #26a0fc;
  //   text-decoration: underline;
  //   margin-left: 51px !important;
  // }
  .table-responsive {
    
  overflow-x: hidden !important;

}
.carwashstatustbl{
  overflow: hidden;
}
}

@media screen and (min-width: 768px) {
  
  .vehiclenumbernewbook{
    margin-left: 85px;
  }
  .bookingdatenewbook{
    margin-left: 69px;
  }
  .firstnamenewbook{
    margin-left: 148px;
  }
  .totalnewbook{
    margin-right: 85px;
  }

  .idstatusbook{
    margin-left: 66px;
  }

  .vehnostatusbook{
    margin-left: 75px;
  }

  .bookingdatestatusbook{
    margin-left: 81px;
  }
  .fnamestatusbook{
    margin-left: 131px;
  }
  .totalstatusbook{
    margin-right: 79px;
  }

  .bookingid{
    
    cursor: pointer;
    color: black;
    text-decoration: underline;
    margin-left: 54px !important;
    font-weight: 500 !important;
  } 

  // .bookingid{

  //   cursor: pointer;
  //   color: #26a0fc;
  //   text-decoration: underline;
  //   margin-left: 20px !important;
  // }

  .comboheading{
    padding-top: 15px !important;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .tblnewbook {
    width: 800px !important;
  }

  .tabwidthstatusbook{
    width: 800px !important;
  }

  .tblheadingnewbook {
    text-align: left !important;
  }
  .tblheadingtotalnewbook{
    text-align: right !important;
  }

  .vehiclenumbernewbook{
    text-align: left;
    margin-left: 14px;
  }
  .bookingdatenewbook{
    text-align: left;
    margin-left: 14px;
  }
  .firstnamenewbook{
    text-align: left;
    margin-left: 14px;
  }
  .totalnewbook{
    text-align: right !important;
    margin-right: 16px;
  }

  .idstatusbook{
    text-align: left;
    margin-left: 14px;
  }

  .vehnostatusbook{
    text-align: left;
    margin-left: 16px;
  }

  .bookingdatestatusbook{
    text-align: left;
    margin-left: 14px;
  }
  .fnamestatusbook{
    text-align: left;
    margin-left: 14px;
  }
  .totalstatusbook{
    text-align: right !important;
    margin-right: 17px;
  }

  .tblheadingstatusbook {
    text-align: left !important;
  }
  .tblheadingtotalstatusbook {
    text-align: right !important;
    
  }

  .mobilechartcls {
    overflow: auto;
  }
  // .bookingid{

  //   cursor: pointer;
  //   color: #26a0fc;
  //   text-decoration: underline;
  //   margin-left: 20px !important;
  // }

  .graphmob{

    text-align: center;
    padding-left: 13px;
  }
  .bookingid{

    cursor: pointer;
    color: black;
    text-decoration: underline;
    margin-left: 14px !important;
    font-weight: 500 !important;
  } 
}