@media screen and (min-width: 768px) {
    .loginpopup {
        width: 336px;
    }

    .selectcitymobile {
        padding-left: 107px;
    }

    .popupwidthSelect {
        width:334px !important;
    }
}


@media screen and (max-width: 768px) {
    
    .selectcitymobile {
        padding-left: 31px;
    }

    .popupwidthSelect {
        width:220px !important;
    }
}

.autocomplete-container .suggestions-container ul li a {
    text-align: left !important;
   
}



.ng-autocomplete {
// background-color: black;
}


select {
    font-size: 1rem;
    color: #000;
    width: 100%;
    height: 40px;
    text-transform: capitalize;
  }



 
  .autocomplete-container .suggestions-container ul {
    padding: 0;
    margin: 0;
    max-height: 240px;
     overflow: hidden !important;
}

