


<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->



<br><br>

<h2 class="mainheading" style="text-align: center;">Deal Of The Day</h2>

<p class="dark-blue-text w-responsive mx-auto " style="text-align: center;margin-bottom: 2%;">Today offer upto 60%, Enjoy and 1st booking have 25% discount..!

</p>
  
  <div id="carouselExampleCaptions1" class="carousel slide" data-bs-ride="carousel">
    

  

    <div >
        <div >
            <div class="row" style="margin-left: 6px;">

           

              <div class="col-sm-3" >
                <div class="card">
                  <div class="image-container oneimage" style="border:1px solid;" >
                      <div class="first">
                          <div class="d-flex justify-content-between align-items-center"> <span class="discount">Up to 60% Off</span> <span class="wishlist"><i class="fa fa-heart-o"></i></span> </div>
                        <h1 style="text-align: center;">Shop Image</h1> 
                      </div> 

                      <!-- <a href=""><img  src="../assets/images/car2.jpg" class="img-fluid rounded thumbnail-image oneimage"></a> -->
                  </div>
  
                  
  
                  <div class="product-detail-container p-2">
  
                    <div class="d-flex justify-content-between align-items-center pt-1">
                      <div class="color-select d-flex "> 
                        <img src="https://admin.mynewcar.in/MNC-API/uploads/0bd2b75bea41c32c416071d6171d588e.jpg" style="width: 50px;margin-top: -7px;"> Shop <br> Name
                        </div>
                   </div>
  
                  <div class="d-flex justify-content-between align-items-center">
                    <h5 class="dress-name">60% OFF inside..! Great offers on car get a clean</h5>
                   
                    </div>
                
  
                      <div class="d-flex justify-content-between align-items-center">
                          <h5 class="dress-name">Petrol, CNG | Manual | 8 Variants</h5>
                          
                      </div>
  
                      <div class="d-flex justify-content-between align-items-center">
                        <h5 class="dress-name">On-Road Price/ Starting @ 4999/-</h5>
                        
                    </div>
                      
                      <div class="d-flex justify-content-between align-items-center pt-1">
                          <div> <i class="fa fa-star-o rating-star"></i> <span class="rating-number">4.8</span> </div> <span class="buy">Save Upto 1000 +</span>
                         
                      </div>
                      
                  </div>
              </div>
                  <!-- <div class="eachcontMultislide" style="background-image: url('https://source.unsplash.com/szFUQoyvrxM/1920x1080');"></div> -->
                  
                  </div>


                  <div class="col-sm-3" >
                    <div class="card">
                      <div class="image-container oneimage" style="border:1px solid;" >
                          <div class="first">
                              <div class="d-flex justify-content-between align-items-center"> <span class="discount">Up to 60% Off</span> <span class="wishlist"><i class="fa fa-heart-o"></i></span> </div>
                              <h1 style="text-align: center;">Shop Image</h1>
                              <!-- <img src=" shop image"> -->
                          </div> 
    
                          <!-- <a href=""><img  src="../assets/images/car2.jpg" class="img-fluid rounded thumbnail-image oneimage"></a> -->
                      </div>
      
                      
      
                      <div class="product-detail-container p-2">
      
                        <div class="d-flex justify-content-between align-items-center pt-1">
                          <div class="color-select d-flex "> 
                            <img src="https://admin.mynewcar.in/MNC-API/uploads/0bd2b75bea41c32c416071d6171d588e.jpg" style="width: 50px;margin-top: -7px;"> Shop <br> Name
                            </div>
                       </div>
      
                      <div class="d-flex justify-content-between align-items-center">
                        <h5 class="dress-name">60% OFF inside..! Great offers on car get a clean</h5>
                       
                        </div>
                    
      
                          <div class="d-flex justify-content-between align-items-center">
                              <h5 class="dress-name">Petrol, CNG | Manual | 8 Variants</h5>
                              
                          </div>
      
                          <div class="d-flex justify-content-between align-items-center">
                            <h5 class="dress-name">On-Road Price/ Starting @ 4999/-</h5>
                            
                        </div>
                          
                          <div class="d-flex justify-content-between align-items-center pt-1">
                              <div> <i class="fa fa-star-o rating-star"></i> <span class="rating-number">4.8</span> </div> <span class="buy">Save Upto 1000 +</span>
                             
                          </div>
                          
                      </div>
                  </div>
                      <!-- <div class="eachcontMultislide" style="background-image: url('https://source.unsplash.com/szFUQoyvrxM/1920x1080');"></div> -->
                      
                      </div>
                      <div class="col-sm-3" >
                        <div class="card">
                          <div class="image-container oneimage" style="border:1px solid;" >
                              <div class="first">
                                  <div class="d-flex justify-content-between align-items-center"> <span class="discount">Up to 60% Off</span> <span class="wishlist"><i class="fa fa-heart-o"></i></span> </div>
                                  <h1 style="text-align: center;">Shop Image</h1>
                                  <!-- <img src=" shop image"> -->
                              </div> 
        
                              <!-- <a href=""><img  src="../assets/images/car2.jpg" class="img-fluid rounded thumbnail-image oneimage"></a> -->
                          </div>
          
                          
          
                          <div class="product-detail-container p-2">
          
                            <div class="d-flex justify-content-between align-items-center pt-1">
                              <div class="color-select d-flex "> 
                                <img src="https://admin.mynewcar.in/MNC-API/uploads/0bd2b75bea41c32c416071d6171d588e.jpg" style="width: 50px;margin-top: -7px;"> Shop <br> Name
                                </div>
                           </div>
          
                          <div class="d-flex justify-content-between align-items-center">
                            <h5 class="dress-name">60% OFF inside..! Great offers on car get a clean</h5>
                           
                            </div>
                        
          
                              <div class="d-flex justify-content-between align-items-center">
                                  <h5 class="dress-name">Petrol, CNG | Manual | 8 Variants</h5>
                                  
                              </div>
          
                              <div class="d-flex justify-content-between align-items-center">
                                <h5 class="dress-name">On-Road Price/ Starting @ 4999/-</h5>
                                
                            </div>
                              
                              <div class="d-flex justify-content-between align-items-center pt-1">
                                  <div> <i class="fa fa-star-o rating-star"></i> <span class="rating-number">4.8</span> </div> <span class="buy">Save Upto 1000 +</span>
                                 
                              </div>
                              
                          </div>
                      </div>
                          <!-- <div class="eachcontMultislide" style="background-image: url('https://source.unsplash.com/szFUQoyvrxM/1920x1080');"></div> -->
                          
                          </div>

                    
                          <div class="col-sm-3" >
                            <div class="card">
                              <div class="image-container oneimage" style="border:1px solid;" >
                                  <div class="first">
                                      <div class="d-flex justify-content-between align-items-center"> <span class="discount">Up to 60% Off</span> <span class="wishlist"><i class="fa fa-heart-o"></i></span> </div>
                                      <h1 style="text-align: center;">Shop Image</h1>
                                      <!-- <img src=" shop image"> -->
                                  </div> 
            
                                  <!-- <a href=""><img  src="../assets/images/car2.jpg" class="img-fluid rounded thumbnail-image oneimage"></a> -->
                              </div>
              
                              
              
                              <div class="product-detail-container p-2">
              
                                <div class="d-flex justify-content-between align-items-center pt-1">
                                  <div class="color-select d-flex "> 
                                    <img src="https://admin.mynewcar.in/MNC-API/uploads/0bd2b75bea41c32c416071d6171d588e.jpg" style="width: 50px;margin-top: -7px;"> Shop <br> Name
                                    </div>
                               </div>
              
                              <div class="d-flex justify-content-between align-items-center">
                                <h5 class="dress-name">60% OFF inside..! Great offers on car get a clean</h5>
                               
                                </div>
                            
              
                                  <div class="d-flex justify-content-between align-items-center">
                                      <h5 class="dress-name">Petrol, CNG | Manual | 8 Variants</h5>
                                      
                                  </div>
              
                                  <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="dress-name">On-Road Price/ Starting @ 4999/-</h5>
                                    
                                </div>
                                  
                                  <div class="d-flex justify-content-between align-items-center pt-1">
                                      <div> <i class="fa fa-star-o rating-star"></i> <span class="rating-number">4.8</span> </div> <span class="buy">Save Upto 1000 +</span>
                                     
                                  </div>
                                  
                              </div>
                          </div>
                              <!-- <div class="eachcontMultislide" style="background-image: url('https://source.unsplash.com/szFUQoyvrxM/1920x1080');"></div> -->
                              
                              </div>
                    </div>
                </div>
                
<br><br>
                <div >
                  <div class="row" style="margin-left: 6px;">
      
                    <div class="col-sm-3" >
                      <div class="card">
                        <div class="image-container oneimage" style="border:1px solid;" >
                            <div class="first">
                                <div class="d-flex justify-content-between align-items-center"> <span class="discount">Up to 40% Off</span> <span class="wishlist"><i class="fa fa-heart-o"></i></span> </div>
                                <h1 style="text-align: center;">Shop Image</h1>
                                <!-- <img src=" shop image"> -->
                            </div> 
      
                            <!-- <a href=""><img  src="../assets/images/car2.jpg" class="img-fluid rounded thumbnail-image oneimage"></a> -->
                        </div>
        
                        
        
                        <div class="product-detail-container p-2">
        
                          <div class="d-flex justify-content-between align-items-center pt-1">
                            <div class="color-select d-flex "> 
                              <img src="https://admin.mynewcar.in/MNC-API/uploads/0bd2b75bea41c32c416071d6171d588e.jpg" style="width: 50px;margin-top: -7px;"> Shop <br> Name
                              </div>
                         </div>
        
                        <div class="d-flex justify-content-between align-items-center">
                          <h5 class="dress-name">60% OFF inside..! Great offers on car get a clean</h5>
                         
                          </div>
                      
        
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="dress-name">Petrol, CNG | Manual | 8 Variants</h5>
                                
                            </div>
        
                            <div class="d-flex justify-content-between align-items-center">
                              <h5 class="dress-name">On-Road Price/ Starting @ 4999/-</h5>
                              
                          </div>
                            
                            <div class="d-flex justify-content-between align-items-center pt-1">
                                <div> <i class="fa fa-star-o rating-star"></i> <span class="rating-number">4.8</span> </div> <span class="buy">Save Upto 1000 +</span>
                               
                            </div>
                            
                        </div>
                    </div>
                        <!-- <div class="eachcontMultislide" style="background-image: url('https://source.unsplash.com/szFUQoyvrxM/1920x1080');"></div> -->
                        
                        </div>
      
      
                        <div class="col-sm-3" >
                          <div class="card">
                            <div class="image-container oneimage" style="border:1px solid;" >
                                <div class="first">
                                    <div class="d-flex justify-content-between align-items-center"> <span class="discount">Up to 40% Off</span> <span class="wishlist"><i class="fa fa-heart-o"></i></span> </div>
                                    <h1 style="text-align: center;">Shop Image</h1>
                                    <!-- <img src=" shop image"> -->
                                </div> 
          
                                <!-- <a href=""><img  src="../assets/images/car2.jpg" class="img-fluid rounded thumbnail-image oneimage"></a> -->
                            </div>
            
                            
            
                            <div class="product-detail-container p-2">
            
                              <div class="d-flex justify-content-between align-items-center pt-1">
                                <div class="color-select d-flex "> 
                                  <img src="https://admin.mynewcar.in/MNC-API/uploads/0bd2b75bea41c32c416071d6171d588e.jpg" style="width: 50px;margin-top: -7px;"> Shop <br> Name
                                  </div>
                             </div>
            
                            <div class="d-flex justify-content-between align-items-center">
                              <h5 class="dress-name">60% OFF inside..! Great offers on car get a clean</h5>
                             
                              </div>
                          
            
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="dress-name">Petrol, CNG | Manual | 8 Variants</h5>
                                    
                                </div>
            
                                <div class="d-flex justify-content-between align-items-center">
                                  <h5 class="dress-name">On-Road Price/ Starting @ 4999/-</h5>
                                  
                              </div>
                                
                                <div class="d-flex justify-content-between align-items-center pt-1">
                                    <div> <i class="fa fa-star-o rating-star"></i> <span class="rating-number">4.8</span> </div> <span class="buy">Save Upto 1000 +</span>
                                   
                                </div>
                                
                            </div>
                        </div>
                            <!-- <div class="eachcontMultislide" style="background-image: url('https://source.unsplash.com/szFUQoyvrxM/1920x1080');"></div> -->
                            
                            </div>
                            <div class="col-sm-3" >
                              <div class="card">
                                <div class="image-container oneimage" style="border:1px solid;" >
                                    <div class="first">
                                        <div class="d-flex justify-content-between align-items-center"> <span class="discount">Up to 40% Off</span> <span class="wishlist"><i class="fa fa-heart-o"></i></span> </div>
                                        <h1 style="text-align: center;">Shop Image</h1>
                                        <!-- <img src=" shop image"> -->
                                    </div> 
              
                                    <!-- <a href=""><img  src="../assets/images/car2.jpg" class="img-fluid rounded thumbnail-image oneimage"></a> -->
                                </div>
                
                                
                
                                <div class="product-detail-container p-2">
                
                                  <div class="d-flex justify-content-between align-items-center pt-1">
                                    <div class="color-select d-flex "> 
                                      <img src="https://admin.mynewcar.in/MNC-API/uploads/0bd2b75bea41c32c416071d6171d588e.jpg" style="width: 50px;margin-top: -7px;"> Shop <br> Name
                                      </div>
                                 </div>
                
                                <div class="d-flex justify-content-between align-items-center">
                                  <h5 class="dress-name">60% OFF inside..! Great offers on car get a clean</h5>
                                 
                                  </div>
                              
                
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h5 class="dress-name">Petrol, CNG | Manual | 8 Variants</h5>
                                        
                                    </div>
                
                                    <div class="d-flex justify-content-between align-items-center">
                                      <h5 class="dress-name">On-Road Price/ Starting @ 4999/-</h5>
                                      
                                  </div>
                                    
                                    <div class="d-flex justify-content-between align-items-center pt-1">
                                        <div> <i class="fa fa-star-o rating-star"></i> <span class="rating-number">4.8</span> </div> <span class="buy">Save Upto 1000 +</span>
                                       
                                    </div>
                                    
                                </div>
                            </div>
                                <!-- <div class="eachcontMultislide" style="background-image: url('https://source.unsplash.com/szFUQoyvrxM/1920x1080');"></div> -->
                                
                                </div>
      
                          
                                <div class="col-sm-3" >
                                  <div class="card">
                                    <div class="image-container oneimage" style="border:1px solid;" >
                                        <div class="first">
                                            <div class="d-flex justify-content-between align-items-center"> <span class="discount">Up to 40% Off</span> <span class="wishlist"><i class="fa fa-heart-o"></i></span> </div>
                                            <h1 style="text-align: center;">Shop Image</h1>
                                            <!-- <img src=" shop image"> -->
                                        </div> 
                  
                                        <!-- <a href=""><img  src="../assets/images/car2.jpg" class="img-fluid rounded thumbnail-image oneimage"></a> -->
                                    </div>
                    
                                    
                    
                                    <div class="product-detail-container p-2">
                    
                                      <div class="d-flex justify-content-between align-items-center pt-1">
                                        <div class="color-select d-flex "> 
                                          <img src="https://admin.mynewcar.in/MNC-API/uploads/0bd2b75bea41c32c416071d6171d588e.jpg" style="width: 50px;margin-top: -7px;"> Shop <br> Name
                                          </div>
                                     </div>
                    
                                    <div class="d-flex justify-content-between align-items-center">
                                      <h5 class="dress-name">60% OFF inside..! Great offers on car get a clean</h5>
                                     
                                      </div>
                                  
                    
                                        <div class="d-flex justify-content-between align-items-center">
                                            <h5 class="dress-name">Petrol, CNG | Manual | 8 Variants</h5>
                                            
                                        </div>
                    
                                        <div class="d-flex justify-content-between align-items-center">
                                          <h5 class="dress-name">On-Road Price/ Starting @ 4999/-</h5>
                                          
                                      </div>
                                        
                                        <div class="d-flex justify-content-between align-items-center pt-1">
                                            <div> <i class="fa fa-star-o rating-star"></i> <span class="rating-number">4.8</span> </div> <span class="buy">Save Upto 1000 +</span>
                                           
                                        </div>
                                        
                                    </div>
                                </div>
                                    <!-- <div class="eachcontMultislide" style="background-image: url('https://source.unsplash.com/szFUQoyvrxM/1920x1080');"></div> -->
                                    
                                    </div>
                          </div>
                      </div>

                      <br><br>    

                <div >
                  <div class="row" style="margin-left: 6px;">
      
                    <div class="col-sm-3" >
                      <div class="card">
                        <div class="image-container oneimage" style="border:1px solid;" >
                            <div class="first">
                                <div class="d-flex justify-content-between align-items-center"> <span class="discount">Up to 40% Off</span> <span class="wishlist"><i class="fa fa-heart-o"></i></span> </div>
                                <h1 style="text-align: center;">Shop Image</h1>
                                <!-- <img src=" shop image"> -->
                            </div> 
      
                            <!-- <a href=""><img  src="../assets/images/car2.jpg" class="img-fluid rounded thumbnail-image oneimage"></a> -->
                        </div>
        
                        
        
                        <div class="product-detail-container p-2">
        
                          <div class="d-flex justify-content-between align-items-center pt-1">
                            <div class="color-select d-flex "> 
                              <img src="https://admin.mynewcar.in/MNC-API/uploads/0bd2b75bea41c32c416071d6171d588e.jpg" style="width: 50px;margin-top: -7px;"> Shop <br> Name
                              </div>
                         </div>
        
                        <div class="d-flex justify-content-between align-items-center">
                          <h5 class="dress-name">60% OFF inside..! Great offers on car get a clean</h5>
                         
                          </div>
                      
        
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="dress-name">Petrol, CNG | Manual | 8 Variants</h5>
                                
                            </div>
        
                            <div class="d-flex justify-content-between align-items-center">
                              <h5 class="dress-name">On-Road Price/ Starting @ 4999/-</h5>
                              
                          </div>
                            
                            <div class="d-flex justify-content-between align-items-center pt-1">
                                <div> <i class="fa fa-star-o rating-star"></i> <span class="rating-number">4.8</span> </div> <span class="buy">Save Upto 1000 +</span>
                               
                            </div>
                            
                        </div>
                    </div>
                        <!-- <div class="eachcontMultislide" style="background-image: url('https://source.unsplash.com/szFUQoyvrxM/1920x1080');"></div> -->
                        
                        </div>

                        
      
      
                        <div class="col-sm-3" >
                          <div class="card">
                            <div class="image-container oneimage" style="border:1px solid;" >
                                <div class="first">
                                    <div class="d-flex justify-content-between align-items-center"> <span class="discount">Up to 40% Off</span> <span class="wishlist"><i class="fa fa-heart-o"></i></span> </div>
                                    <h1 style="text-align: center;">Shop Image</h1>
                                    <!-- <img src=" shop image"> -->
                                </div> 
          
                                <!-- <a href=""><img  src="../assets/images/car2.jpg" class="img-fluid rounded thumbnail-image oneimage"></a> -->
                            </div>
            
                            
            
                            <div class="product-detail-container p-2">
            
                              <div class="d-flex justify-content-between align-items-center pt-1">
                                <div class="color-select d-flex "> 
                                  <img src="https://admin.mynewcar.in/MNC-API/uploads/0bd2b75bea41c32c416071d6171d588e.jpg" style="width: 50px;margin-top: -7px;"> Shop <br> Name
                                  </div>
                             </div>
            
                            <div class="d-flex justify-content-between align-items-center">
                              <h5 class="dress-name">60% OFF inside..! Great offers on car get a clean</h5>
                             
                              </div>
                          
            
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="dress-name">Petrol, CNG | Manual | 8 Variants</h5>
                                    
                                </div>
            
                                <div class="d-flex justify-content-between align-items-center">
                                  <h5 class="dress-name">On-Road Price/ Starting @ 4999/-</h5>
                                  
                              </div>
                                
                                <div class="d-flex justify-content-between align-items-center pt-1">
                                    <div> <i class="fa fa-star-o rating-star"></i> <span class="rating-number">4.8</span> </div> <span class="buy">Save Upto 1000 +</span>
                                   
                                </div>
                                
                            </div>
                        </div>
                            <!-- <div class="eachcontMultislide" style="background-image: url('https://source.unsplash.com/szFUQoyvrxM/1920x1080');"></div> -->
                            
                            </div>
                            <div class="col-sm-3" >
                              <div class="card">
                                <div class="image-container oneimage" style="border:1px solid;" >
                                    <div class="first">
                                        <div class="d-flex justify-content-between align-items-center"> <span class="discount">Up to 40% Off</span> <span class="wishlist"><i class="fa fa-heart-o"></i></span> </div>
                                        <h1 style="text-align: center;">Shop Image</h1>
                                        <!-- <img src=" shop image"> -->
                                    </div> 
              
                                    <!-- <a href=""><img  src="../assets/images/car2.jpg" class="img-fluid rounded thumbnail-image oneimage"></a> -->
                                </div>
                
                                
                
                                <div class="product-detail-container p-2">
                
                                  <div class="d-flex justify-content-between align-items-center pt-1">
                                    <div class="color-select d-flex "> 
                                      <img src="https://admin.mynewcar.in/MNC-API/uploads/0bd2b75bea41c32c416071d6171d588e.jpg" style="width: 50px;margin-top: -7px;"> Shop <br> Name
                                      </div>
                                 </div>
                
                                <div class="d-flex justify-content-between align-items-center">
                                  <h5 class="dress-name">60% OFF inside..! Great offers on car get a clean</h5>
                                 
                                  </div>
                              
                
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h5 class="dress-name">Petrol, CNG | Manual | 8 Variants</h5>
                                        
                                    </div>
                
                                    <div class="d-flex justify-content-between align-items-center">
                                      <h5 class="dress-name">On-Road Price/ Starting @ 4999/-</h5>
                                      
                                  </div>
                                    
                                    <div class="d-flex justify-content-between align-items-center pt-1">
                                        <div> <i class="fa fa-star-o rating-star"></i> <span class="rating-number">4.8</span> </div> <span class="buy">Save Upto 1000 +</span>
                                       
                                    </div>
                                    
                                </div>
                            </div>
                                <!-- <div class="eachcontMultislide" style="background-image: url('https://source.unsplash.com/szFUQoyvrxM/1920x1080');"></div> -->
                                
                                </div>
      
                          
                                <div class="col-sm-3" >
                                  <div class="card">
                                    <div class="image-container oneimage" style="border:1px solid;" >
                                        <div class="first">
                                            <div class="d-flex justify-content-between align-items-center"> <span class="discount">Up to 40% Off</span> <span class="wishlist"><i class="fa fa-heart-o"></i></span> </div>
                                            <h1 style="text-align: center;">Shop Image</h1>
                                            <!-- <img src=" shop image"> -->
                                        </div> 
                  
                                        <!-- <a href=""><img  src="../assets/images/car2.jpg" class="img-fluid rounded thumbnail-image oneimage"></a> -->
                                    </div>
                    
                                    
                    
                                    <div class="product-detail-container p-2">
                    
                                      <div class="d-flex justify-content-between align-items-center pt-1">
                                        <div class="color-select d-flex "> 
                                          <img src="https://admin.mynewcar.in/MNC-API/uploads/0bd2b75bea41c32c416071d6171d588e.jpg" style="width: 50px;margin-top: -7px;"> Shop <br> Name
                                          </div>
                                     </div>
                    
                                    <div class="d-flex justify-content-between align-items-center">
                                      <h5 class="dress-name">60% OFF inside..! Great offers on car get a clean</h5>
                                     
                                      </div>
                                  
                    
                                        <div class="d-flex justify-content-between align-items-center">
                                            <h5 class="dress-name">Petrol, CNG | Manual | 8 Variants</h5>
                                            
                                        </div>
                    
                                        <div class="d-flex justify-content-between align-items-center">
                                          <h5 class="dress-name">On-Road Price/ Starting @ 4999/-</h5>
                                          
                                      </div>
                                        
                                        <div class="d-flex justify-content-between align-items-center pt-1">
                                            <div> <i class="fa fa-star-o rating-star"></i> <span class="rating-number">4.8</span> </div> <span class="buy">Save Upto 1000 +</span>
                                           
                                        </div>
                                        
                                    </div>
                                </div>
                                    <!-- <div class="eachcontMultislide" style="background-image: url('https://source.unsplash.com/szFUQoyvrxM/1920x1080');"></div> -->
                                    
                                    </div>
                          </div>
                      </div>
                        
   
    </div>
   
  </div>
  <br>
  
 
