.nodata{
    padding-left: 543px;
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
}

h3 {
    text-align: center;
    color: blue;
    }
    // .active-pink-3 input[type=text] {
    //  border: 1px solid purple !important;
    //  border-radius:15px;
    //  font-size:14px;
    //  margin-left:55%;
    //  width:100%;
    //  }
    // .active-purple-3 input[type=text] {
    // border: 1px solid blue !important;
    // border-radius:15px;
    // font-size:14px;
    // }
    // .active-cyan-3 input[type=text] {
    // border: 2px solid green;
    // }
    // .active-red-3 input[type=text] {
    // border: 2px solid red;
    // }
    // .active-lime-3 input[type=text] {
    // border: 2px solid lime;
    // }

    .example-form {
        min-width: 150px;
        max-width: 500px;
        width: 100%;
      }

      .example-full-width {
        width: 100%;
      }
      .mat-input-element {
        font: inherit;
        background: transparent;
        color: currentColor;
        border: solid 1px black !important;
        outline: none;
        padding: 0;
        margin: 0;
        width: 100% !important;
        max-width: 70%;
        vertical-align: bottom;
        text-align: inherit;
        box-sizing: content-box;
        height:24px !important;
        border-radius:15px !important;
        padding:5px;
        margin-left:50%;
    }

    .container {
      width: 900px
  }

  .card {
      background-color: #ffffff;
      border: none;
      border-radius: 10px;
      width: 280px !important;
      // height: 700px;
    //   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    border: 1px solid #aeaeae;
  }

  .image-container {
      position: relative
  }

  .thumbnail-image {
      border-radius: 10px !important
  }

  .thumbnail-image:hover {
  transition: all .3s ease-in-out;
  }

  .discount {
      background-color: red;
      padding-top: 1px;
      padding-bottom: 1px;
      padding-left: 4px;
      padding-right: 4px;
      font-size: 10px;
      border-radius: 6px;
      color: #fff
  }

  .wishlist {
      height: 25px;
      width: 25px;
      background-color: #eee;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  }

  .first {
      position: absolute;
      width: 100%;
      padding: 9px
  }

  .dress-name {
      font-size: 13px;
      font-weight: bold;
      //width: 75%
  }

  .new-price {
      font-size: 13px;
      font-weight: bold;
      color: red
  }

  .old-price {
      font-size: 8px;
      font-weight: bold;
      color: grey
  }

  .btn {
      width: 14px;
      height: 14px;
      border-radius: 50%;
      padding: 3px
  }

  .creme {
      background-color: #fff;
      border: 2px solid grey
  }

  .creme:hover {
      border: 3px solid grey
  }

  .creme:focus {
      background-color: grey
  }

  .red {
      background-color: #fff;
      border: 2px solid red
  }

  .red:hover {
      border: 3px solid red
  }

  .red:focus {
      background-color: red
  }

  .blue {
      background-color: #fff;
      border: 2px solid #40C4FF
  }

  .blue:hover {
      border: 3px solid #40C4FF
  }

  .blue:focus {
      background-color: #40C4FF
  }

  .darkblue {
      background-color: #fff;
      border: 2px solid #01579B
  }

  .darkblue:hover {
      border: 3px solid #01579B
  }

  .darkblue:focus {
      background-color: #01579B
  }

  .yellow {
      background-color: #fff;
      border: 2px solid #FFCA28
  }

  .yellow:hover {
      border-radius: 3px solid #FFCA28
  }

  .yellow:focus {
      background-color: #FFCA28
  }

  .item-size {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: #fff;
      border: 1px solid grey;
      color: grey;
      font-size: 10px;
      text-align: center;
      align-items: center;
      display: flex;
      justify-content: center
  }

  .rating-star {
      font-size: 10px !important
  }

  .rating-number {
      font-size: 10px;
      color: grey
  }

  .buy {
      font-size: 12px;
      color: #009688;
      font-weight: 500
  }

  .voutchers {
      background-color: #fff;
      border: none;
      border-radius: 10px;
      width: 190px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      overflow: hidden
  }

  .voutcher-divider {
      display: flex
  }

  .voutcher-left {
      width: 60%
  }

  .voutcher-name {
      color: grey;
      font-size: 9px;
      font-weight: 500
  }

  .voutcher-code {
      color: red;
      font-size: 11px;
      font-weight: bold
  }

  .voutcher-right {
      width: 40%;
      background-color: purple;
      color: #fff
  }

  .discount-percent {
      font-size: 12px;
      font-weight: bold;
      position: relative;
      top: 5px
  }

  .off {
      font-size: 14px;
      position: relative;
      bottom: 5px
  }


  .slick-slider {
      width: 88%;
      margin: auto;
      background: rgb(14, 13, 13);
    }

  body .slick-prev,
  body .slick-next {
      height: 45px;
      width: 40px;
      background: #15e65b !important;
      z-index: 100;
  }


  .buy {
      font-size: 12px;
      color: white;
      font-weight: 500;
      background: #009688;
      border-radius: 6px;
      padding-left: 4px;
      padding-right: 4px;
  }

  .booknowntn {
      font-size: 12px;
      color: white;
      font-weight: 500;
      background: #b32134;
      border-radius: 6px;
      padding-top: 4px;
      padding-bottom: 4px;
      padding-right: 6px;
      padding-left: 6px;

  }

  .openClosed{
      font-size: 12px;
      color: white;
      font-weight: 500;
      background: rgb(5, 168, 73);
      border-radius: 6px;
      padding-left: 4px;
      padding-right: 4px;
  }


  .discount {
      background-color: #b83b5e;
      padding-top: 1px;
      padding-bottom: 1px;
      padding-left: 4px;
      padding-right: 4px;
      font-size: 10px;
      border-radius: 6px;
      color: white;
  }

  .fontitalyHome {
      font-style: italic;
      font-weight: 500;
  }

  // [for='toggle-heart'] {
  //     color: #aab8c2;
  //   }

  //   [id='toggle-heart'] {
  //     position: absolute;
  //     left: -100vw;
  //   }
  //   [id='toggle-heart']:checked + label {
  //     color: #e2264d;
  //   }
  .carousel-item {
    height: 65vh;
    // min-height: 350px;
    background: no-repeat center center scroll;

//     transition: -webkit-transform 0.1s ease;
//   transition: transform 0.1s ease;
//   transition: transform 0.1s ease, -webkit-transform 0.1s ease;
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }



  .eachcontMultislide{

    // padding:10px;
    height: 600px;
  }

  .carousel-control-next, .carousel-control-prev {

    width: 3%;
    color:black !important;
    // background-color: #fff;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}


// .mat-form-field-appearance-legacy .mat-form-field-underline {
//       background: none !important;
//       margin-left:37% !important;
//     }

.oneimage {
  height:225px !important;
  width:100%;
  background-color:rgb(214, 211, 211);
  background-size: 100% 100%;
}

.cdk-overlay-pane
{
  width: 800px !important;
   top: 164.625px;

}



@media screen and (min-width: 768px) {
    h2 {
        text-align:center !important;
    }
    .mat-input-element{
        margin-left:50%;
    }
}
@media screen and (max-width: 768px) {
    h2{
        text-align:left !important;
        margin-left:100px!important;
    }
    .mat-input-element{
        margin-left:0px !important;
    }
    .card{
        width: 100% !important;
    }
}